/*Globalny reset box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Ukrycie poziomego scrolla */
html, body {
    overflow-x: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Główna zawartość wypychająca footer */
main {
    flex: 1;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    padding: 2rem;
    /*max-width: 600px;
    width: 100%;
    margin: 0 auto;*/
}

header {
    background-color: #ddd;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Zablokowanie automatycznego stylowania linków i tekstów w Safari na iPhone */
a, a:visited, a:hover, a:focus {
    color: inherit !important; /* Przywraca kolor tekstu do domyślnego */
    text-decoration: none !important; /* Usuwa podkreślenie */
    -webkit-touch-callout: none; /* Wyłącza wykrywanie linków w iOS */
    -webkit-user-select: none;   /* Zapobiega selekcji automatycznego linku */
  }
  
  

/* Kontener quizu */
#quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 400px;
    width: 100%;
}

button {
    display: block;
    max-width: 400px;
    width: 100%;
    padding: 10px;
    margin: 5px 0 auto;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}
.next_button {
    display: block;
    max-width: 400px;
    width: 100%;
    padding: 10px;
    margin: 30px auto 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    transform: scale(1.05);
}

/* Styl poprawnej odpowiedzi */
.correct {
    background-color: #a8e6a8; /* Łagodny zielony */
}

/* Styl niepoprawnej odpowiedzi */
.incorrect {
    background-color: #ff8a8a; /* Łagodny czerwony */
}

button:disabled {
    opacity: 0.7;
}

footer {
    background-color: #ddd;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
}
