/*Globalny reset box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Ukrycie poziomego scrolla */
html, body {
    overflow-x: hidden;
    
}

html, body {
    color: #333 !important;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Główna zawartość wypychająca footer */
main {
    flex: 1;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #20053d, #034dcc);
    text-align: center;
    padding: 2rem;
}

header {
    background-color: #20053d;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #ccc;
}

h2 {
    color: #ccc;
    margin-bottom: 20px;
}

p {
    color: #ccc;
}

/* Zablokowanie automatycznego stylowania linków i tekstów w Safari na iPhone */
a, a:visited, a:hover, a:focus {
    color: inherit !important; /* Przywraca kolor tekstu do domyślnego */
    text-decoration: none !important; /* Usuwa podkreślenie */
    -webkit-touch-callout: none; /* Wyłącza wykrywanie linków w iOS */
    -webkit-user-select: none;   /* Zapobiega selekcji automatycznego linku */
    user-select: none;
}
  
  

/* Kontener quizu */
#quiz-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    max-width: 400px;
    width: 100%;
    
}

button {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 400px;
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  font-size: 16px;
  background: transparent;
  color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease;

  appearance: none;
  -webkit-appearance: none;
}

button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 1px; /* grubość ramki */
  background: linear-gradient(to top, #471083, #0c58db); /* gradient ramki */
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0); 
  -webkit-mask-composite: xor;
     mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none; /* żeby nie blokowało kliknięcia */
  z-index: -1;
}

.next_button {
    display: block;
    max-width: 400px;
    width: 100%;
    padding: 10px;
    margin: 30px auto 0;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    border: 1px solid #034dcc;
}

button:hover {
    transform: scale(1.05);
}

/* Styl poprawnej odpowiedzi */
.correct {
    background-color: #2dc92d94; /* Łagodny zielony */
}

/* Styl niepoprawnej odpowiedzi */
.incorrect {
    background-color: #e24b4bbb; /* Łagodny czerwony */
}

button:disabled {
    opacity: 0.7;
}

footer {
    background-color: #034dcc;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #ccc;
}

.explanation {
    margin-top: 15px;
    padding: 10px;
    color: #ccc;
    background: rgba(114, 108, 184, 0.05);
    border-left: 4px solid #ccc;
    font-style: italic;
    border-radius: 4px;
}